.container {
  position: absolute;
  top: 30%;
  left: 40px;
  text-align: left;
  -webkit-user-select: none;
}

.container h2 {
  font-size: 5rem;
  cursor: default;
}

.container a {
  font-size: 1.4rem;
  padding: 10px;
}
