.container {
  position: absolute;
  top: 10%;
  left: 40px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  text-align: left;
  -webkit-user-select: none;
}

.container h2 {
  font-size: 5rem;
  font-weight: 300;
  cursor: default;
  margin: 0 0 40px 0;
}

.container a {
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 1.4rem;
  padding: 10px;
}

.container a:hover {
  background-color: hotpink;
}

.paragraph {
  font-size: 12px;
  font-weight: 100;
  padding: 10px;
  position: absolute;
  bottom: 5px;
  right: 40px;
}

.container p.fa-heart {
  color: red;
}